<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>二階</key>
	<array>
		<string>隨機狀態</string>
		<string>3-gen</string>
		<string>6-gen</string>
		<string>CLL訓練</string>
		<string>EG1訓練</string>
		<string>EG2訓練</string>
		<string>PBL訓練</string>
		<string>TCLL+訓練</string>
		<string>TCLL-訓練</string>
	</array>
	<key>三階</key>
	<array>
		<string>隨機狀態</string>
		<string>傳統</string>
		<string>F2L訓練</string>
		<string>頂層訓練</string>
		<string>PLL訓練</string>
		<string>角塊訓練</string>
		<string>棱塊訓練</string>
		<string>LSLL訓練</string>
		<string>ZBLL訓練</string>
		<string>頂層角塊</string>
		<string>頂層棱塊</string>
		<string>橋式六棱</string>
		<string>CMLL訓練</string>
		<string>簡單十字</string>
		<string>2GLL訓練</string>
	</array>
	<key>四階</key>
	<array>
		<string>傳統</string>
		<string>SiGN</string>
		<string>YJ</string>
		<string>對棱訓練</string>
		<string>R, r, U, u</string>
	</array>
	<key>五階</key>
	<array>
		<string>WCA</string>
		<string>SiGN</string>
		<string>對棱訓練</string>
	</array>
	<key>六階</key>
	<array>
		<string>prefix</string>
		<string>SiGN</string>
		<string>suffix</string>
		<string>對棱訓練</string>
		<string>WCA</string>
	</array>
	<key>七階</key>
	<array>
		<string>prefix</string>
		<string>SiGN</string>
		<string>suffix</string>
		<string>對棱訓練</string>
		<string>WCA</string>
	</array>
	<key>Megaminx</key>
	<array>
		<string>WCA</string>
		<string>傳統</string>
	</array>
	<key>金字塔</key>
	<array>
		<string>隨機狀態</string>
		<string>隨機轉動</string>
	</array>
	<key>Square-1</key>
	<array>
		<string>隨機狀態</string>
		<string>face turn metric</string>
		<string>twist metric</string>
		<string>立方體形狀</string>
	</array>
	<key>魔錶</key>
	<array>
		<string>WCA</string>
		<string>Jaap順序</string>
		<string>concise</string>
		<string>高效順序</string>
	</array>
	<key>斜轉方塊</key>
	<array>
		<string>隨機狀態</string>
		<string>R U L B</string>
	</array>
	<key>LxMxN</key>
	<array>
		<string>1x3x3(Floppy)</string>
		<string>Super 1x3x3</string>
		<string>2x3x3(Domino)</string>
		<string>2x2x3</string>
		<string>2x2x4</string>
		<string>3x3x4</string>
		<string>3x3x5</string>
		<string>3x3x6</string>
		<string>3x3x7</string>
		<string>8x8x8</string>
		<string>9x9x9</string>
	</array>
	<key>Cmetrick</key>
	<array>
		<string>normal</string>
		<string>mini</string>
	</array>
	<key>齒輪方塊</key>
	<array>
		<string>隨機狀態</string>
		<string>3-gen</string>
	</array>
	<key>Siamese cube</key>
	<array>
		<string>1x1x3 block</string>
		<string>1x2x3 block</string>
		<string>2x2x2 block</string>
	</array>
	<key>15 puzzle</key>
	<array>
		<string>piece moves</string>
		<string>blank moves</string>
	</array>
	<key>其他</key>
	<array>
		<string>插銷方塊</string>
		<string>直升機</string>
		<string>Square-2</string>
		<string>Super SQ1</string>
		<string>UFO</string>
		<string>FTO</string>
	</array>
	<key>三階子集</key>
	<array>
		<string>2-gen R, U</string>
		<string>2-gen L, U</string>
		<string>Roux-gen M, U</string>
		<string>3-gen F, R, U</string>
		<string>3-gen R, U, L</string>
		<string>3-gen R, r, U</string>
		<string>half turns only</string>
		<string>LSLL(old)</string>
	</array>
	<key>捆綁方塊</key>
	<array>
		<string>Bicube</string>
		<string>SQ1 /,(1,0)</string>
	</array>
	<key>Megaminx子集</key>
	<array>
		<string>2-gen R, U</string>
		<string>LSLL</string>
	</array>
</dict>
</plist>
